<img id="article_pic" src="/assets/articles.jpg" style= "width:1125px; height:525px;">

<h1 id="article_h1">Current Shouts</h1>

<h2 id=article_h2><%= link_to 'New shout', new_article_path %></h2>

<div id="article_div">
  <table>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>

    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= time_ago_in_words(article.created_at) %> ago</td>
        <td><%= link_to 'Show', article_path(article) %></td>
        <% if current_user.id == article.user_id %>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= link_to 'Back', user_path(current_user)%>
</div>
