<h1>

  <%= @user.name %>

  <%= link_to 'My Blog', controller: 'articles' %>

  <%= link_to 'Edit', edit_user_path(@user) %>

  <%= link_to 'Delete', user_path(@user),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>

          <%= link_to 'log out', logout_path(session)%>
</h1>

<!-- ask for help on logout -->
