<!DOCTYPE html>
  <html>
    <head>
      <title>RailsBlog</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>

      <%= yield %>
      <div id="main_style"></div>
      <h2 id="main_h1"><a href ="https://github.com/Campbell1695">R67F Da45Y</a></h2>

      <nav>
        <p id="home_p"><a href ="/">HOME</a></p>
        <p id="mods_p"><a href ="https://bethesda.net/en/mods/skyrim">MODS</a></p>
        <p id="shop_p"><a href ="https://www.etsy.com/market/skyrim">SHOP</a></p>
        <p id="blog_p"><%= link_to 'BLOG', controller: 'articles' %></p>
        <p id="contact_p"><%= link_to "CONTACT", contact_path, class: "btn btn-lg btn-primary" %></p>
      </nav>
    </body>
  </html>
